title: Parliamentary Register of Interests
description: Registers of interests of the UK's Parliaments and Assemblies
baseurl: "/parl_register_interests"

logo: "/theme/img/mysociety-large-social.png"
layouts_dir: theme/_layouts
includes_dir: theme/_includes

sass:
    sass_dir: 
    load_paths:
        - theme/sass
        - sass  
collections:
  datasets:
    output: true
    permalink: /datasets/:name/
  downloads:
    output: true
    permalink: /downloads/:name/
  versionlists:
    output: true


#  download_gate_type, require form submission before download. soft, present at same time but do not put up a barrier.

defaults:
  - scope:
      path: ""
      type: datasets
    values:
      layout: datasets/dataset
  - scope:
      path: ""
      type: downloads
    values:
      download_gate_type: soft
      download_form_header: Can you help us with funding by telling us more about yourself?
      download_survey: 6876792/Data-usage
      layout: datasets/download


plugins:
  - jekyll-feed

sass:
    sass_dir: 
    load_paths:
        - theme/sass
        - sass

# Twitter
twittercard:
  enabled: true
  username: "@mysociety"

# Exclude these files from the build
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
  - .travis.yml
  - node_modules
  - scripts/src
  - package.json
  - webpack.config.js
  - README.md
  - LICENSE
